body {
   background-color: #FFFFFF;
   background-position: 0 40px;
   background-repeat: repeat-x;
   padding-top: 90px;
   position: relative;
}

.code {
   font-family: 'Bitstream Vera Sans Mono','DejaVu Sans Mono','Monaco',Courier,monospace !important;
}
.info {
   padding: 8px 0px 8px 10px;
   width: 518px;
}

#result {
   min-height: 270px;
}

#editor {
   font-family: 'Bitstream Vera Sans Mono','DejaVu Sans Mono','Monaco',Courier,monospace !important;
}

less-error-message {
   background-color: #EEEEEE;
   border: 1px solid #EE0000;
   border-radius: 5px 5px 5px 5px;
   color: #EE0000;
   font-family: Arial,sans-serif;
   margin-bottom: 15px;
   padding: 15px;
}
.less-error-message h3 {
   font-size: 20px;
   font-weight: bold;
   margin: 0;
   padding: 15px 0 5px;
}

#result label {
   display: inline-block;
   color: #DD6666;
   font-family: 'Bitstream Vera Sans Mono','DejaVu Sans Mono','Monaco',Courier,monospace !important;
   font-size: 10px;
}
#result pre {
   display: inline-block;
   border: none;
   color: #DD6666;
   padding: 0px 0px 0px 15px;
}

#result ul {
   list-style-type: none;
}

#result li {
   list-style-type: none;
}

#result .line {
   color: red;
   font-weight: bold;
}